.background-wrapper {
    height: 762px;
    width: 1272px;
    position: relative;
}

    .background-wrapper img.coffeehouse {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .background-wrapper img.jukebox {
        position: absolute;
        right: -18px;
        bottom: 15px;
        transform: scale(0.80);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
    }

    .background-wrapper img.jukebox:hover {
        transform: scale(0.83);
    }

    .background-wrapper img.coffee {
        position: absolute;
        right: 395px;
        bottom: 230px;
        transform: scale(0.82);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
    }

    .background-wrapper img.coffee:hover {
        transform: scale(0.85);
    }

    .background-wrapper img.bread {
        position: absolute;
        left: 342px;
        top: 300px;
        transform: scale(0.75);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
    }

    .background-wrapper img.bread:hover {
        transform: scale(0.78);
    }